
extends layout

block content
  <!-- DataTables CSS -->
  link(rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.css")
  link(rel="stylesheet" type="text/css" href="/stylesheets/dataTables.tableTools.css")
  link(rel="stylesheet" type="text/css" href="/stylesheets/poTable.css")
  link(rel="stylesheet" type="text/css" href="/stylesheets/dataTables.colVis.css")
   

  <!-- jQuery -->
  script(type="text/javascript" charset="utf8" src="/javascripts/jquery.js").
    
  <!-- DataTables -->
  script(type="text/javascript" charset="utf8" src="/javascripts/jquery.dataTables.js").
  script(type="text/javascript" charset="utf8" src="/javascripts/dataTables.tableTools.js").
  script(type="text/javascript" charset="utf8" src="/javascripts/dataTables.colReorder.js").
  script(type="text/javascript" charset="utf8" src="/javascripts/dataTables.colVis.js").
  script(type="text/javascript" charset="utf8" src="/javascripts/dataTables.fixedHeader.js").
  h3.
    Purcase Order List
  div(class="poTable")
    table(id="polist_table" class="display")
      thead
        tr 
          th Id
          th Fiscal Year
          th Ames Purchase Order Number
          th Purchaser
          th Requestor
          th Date Requested
          th Date Required
          th Date Recived
          th Vendor
          th Discription
          th Task Number
          th Program
          th Purchase Order Issued
          th Purchase Order Date
          th Purchase Order Number
          th Cost
          th Notes
      tbody    
        each polist_fields, i in polist_rows
          tr
            td #{polist_rows[i].id}
            td #{polist_rows[i].fiscal_year}
            td #{polist_rows[i].ames_po_number}
            td #{polist_rows[i].purchaser}
            td #{polist_rows[i].requestor}
            td #{polist_rows[i].date_requested}
            td #{polist_rows[i].date_required}
            td #{polist_rows[i].date_recived}
            td #{polist_rows[i].vendor}
            td #{polist_rows[i].discription}
            td #{polist_rows[i].task_number}
            td #{polist_rows[i].program}
            td #{polist_rows[i].po_issued}
            td #{polist_rows[i].po_date}
            td #{polist_rows[i].po_number}
            td #{polist_rows[i].cost}
            td #{polist_rows[i].notes}
  br
  br
  section(class="linkBar-container")
    nav(class="linkBar")
      a(href="/polist") Purchase Order List
      a(href="/addpo") Input a Purchase Order
      a(href="/addvendor") Add or Modify A Vendor
      a(href="/admin") Administrative Login
  script.
    $(document).ready( function () {
     var table = $('#polist_table').DataTable( {
              dom: 'CRT<"clear">lfrtip',
                tableTools: {
                  "sRowSelect": "os",
                  "aButtons": [
                    "select_all",
                    "copy",
                    "csv",
                    "xls",
                    "print"
                  ]
                },
                colReorder: {
                  realtime: true
                },
                aoColumnDefs: [{"bVisible": false,
                 "aTargets":[0,1,5,6,7,11,12,13,14]}]
          } );
    });